<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    {%block title%}  <title>주문 대쉬 보드</title> {%endblock title%}
    <link href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/dashboard.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXJ.css">  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXInput.css">
    {%block extends_css %}
    {%endblock extends_css %}


    {% load sockjs_server_tags %}
   
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> </a>
             {% if page == 'orderboard'%}
              <a class="brand" href="#"><h3>주문현황</h3></a>
            {%endif%}
            
            {%if page == 'finishboard'%}
                <a class="brand" href="#"><h3>완료현황</h3></a>
                {%endif%}
                
                {%if page == 'cancleboard'%}
               <a class="brand" href="#"><h3>취소현황</h3></a>
               {%endif%}
              
               {%if page == 'finishhistory'%}
          <a class="brand" href="#"><h2>처리내역</h2></a>
             {%endif%}
 
          <div class="nav-collapse" id="navMenu">
          <ul class="nav center">
             {% if page == 'orderboard'%}
              <li class = "active"><a href="orderboard.html"><h3>주문현황</h3></a></li>
             {%else%}
             <li><a href="orderboard.html"><h3> 주문현황</h3></a></li>
             {%endif%}
            
            {%if page == 'finishboard'%}
              <li class = "active"><a href="finishboard.html"><h3>완료현황</h3></a></li>
              {%else%}
                <li><a href="finishboard.html"><h3>완료현황</h3></a></li>
                {%endif%}
                
                {%if page == 'cancleboard'%}
              <li class = "active"><a href="cancleboard.html"><h3>취소현황</h3></a></li>
              {%else%}
               <li><a href="cancleboard.html"><h3>취소현황</h3></a></li>
               {%endif%}
              
               {%if page == 'finishhistory'%}
              <li class = "active" ><a href="finishhistory.html"><h3>처리내역</h3></a></li> 
              {%else%}
              <li><a href="finishhistory.html"><h3>처리내역</h3></a></li> 
             {%endif%}

          </ul>
      <div class=" nav-collapse pull-right" >
              <ul class="nav center">
                <li>
                 <a id = "logoutBtn"> 
                  <h2>
                  로그아웃
                  </h2> 
                 </a>
               
             </li>
            </ul>
                      

            </div>
          </div>
        </div>
      </div>
    </div><!--End of NavBar!-->

    <div class="container bg"><!-- Start of Container -->

     {%block content%} {%endblock content %}

    </div> <!-- /container -->

   
    {%block user_template%}

    
{%endblock user_template%}

    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    
    <script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXJ.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXInput.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/soundmanager2.js"></script>
    <script src="{{STATIC_URL}}js/common.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
  
    <script src="{{STATIC_URL}}js/base64.js"></script>
        <script src="{{STATIC_URL}}js/sockjs-0.3.min.js"></script>
    <script src="{{STATIC_URL}}js/sockjs_emit.js"></script>

<script>
soundManager.setup({
  url: '/path/to/swf-files/',
  flashVersion: 9, // optional: shiny features (default = 8)
  // optional: ignore Flash where possible, use 100% HTML5 mode
  // preferFlash: false,
  onready: function() {
    // Ready to use; soundManager.createSound() etc. can now be called.
     appendSound = soundManager.createSound({
      type: 'audio/wav',
      url: '{{STATIC_URL}}audio/append.wav'
      });
    
  }
});

   
</script>

    <script src="{{STATIC_URL}}js/board.js"></script>
    {%block extend_js%}

    {%endblock extend_js%}

    <script type="text/javascript">



    $(document).ready(function() {

        getLoginString();
         $("#adminBtn").click(goAdmin);

        var recInterval = null;
        window.sockjs_action_pull = new Array();
        var new_conn = function() {
            window.connection_sockjs = new SockJS('{% sockjs_server_url %}');
            window.connection_sockjs.onmessage = function(e) {
          console.log(e);
         
          if(jQuery.parseJSON(e.data).data.staffcall) {
             staffcall = jQuery.parseJSON(e.data).data.staffcall;
            doStaffCallProcess(staffcall); 
          
            }

               if(jQuery.parseJSON(e.data).data.order ){
            order = jQuery.parseJSON(e.data).data.order;
            doOrderProcess(order);
            }

            };

            connection_sockjs.onclose = function(e) {
                 recInterval = window.setInterval(function () {
                    new_conn();
                  }, 2000);
            };

            connection_sockjs.onopen = function(e) {
              clearInterval(recInterval);
            };
        };
        new_conn();
        var token = '{% sockjs_auth_token username %}'
        connection_sockjs.addEventListener("open", function() {

                connection_sockjs.emit(token, {'channel': username });
            }
        );
        {%block extend_bind%}


        {%endblock extend_bind%}



    });


    </script>
  </body>
</html>
