body,input,textarea,select,button,table,
h1, h2, h3, h4, h5, h6
{font-family:"Helvetica Neue",Helvetica,Arial,'나눔고딕','NanumGothic',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'Apple SD Gothic Neo',sans-serif}
h1, h2, h3, h4, h5, h6{ font-weight:700}
a{ font-weight:700; color:#999}
hr {margin: 30px 0;}
.row{margin-left:0;}
.reg-page input[type="text"], input[type="password"]{display:block;border-radius:0;width:100%;padding:4px 0;}
.reg-page {
color: #555;
padding: 30px;
background: #fefefe;
border: solid 1px #eee;
box-shadow: 0 0 3px #eee;
}
.reg-header {
color: #555;
text-align: center;
margin-bottom: 35px;
border-bottom: solid 1px #eee;
}
.reg-header h2 {
font-size: 24px;
margin-bottom: 15px;
}
.bl-login{
	width:50%;
	position:relative;
	left:25%;
	margin-top:10%

}
.margin-bottom-10 {
margin-bottom: 10px;
clear: both;
}
.margin-bottom-20 {
margin-bottom: 20px;
clear: both;
}
.input-group-addon {
color: #b3b3b3;
font-size: 14px;
background: #fff;
}
.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-envelope:before {
content: "\f0e0";
}
:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-control {
box-shadow: none;
}
.reg-page label {
color: #777;
font-size: 13px;
line-height: 1.6;
font-weight: 700;
}
.btn-u{
background: #e74c3c;
white-space: nowrap;
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
font-weight: 400;
padding: 6px 13px;
position: relative;
display: inline-block;
text-decoration: none;
}
.btn-all {
	margin-right:15px;
}
.row-fluid span{
	padding-right:5px;
}
.seldate{
	width:100px;
}
.btn_search{	
margin-bottom:10px;
display: inline-block;
padding: 4px 30px 4px 30px;
font-size: 14px;
line-height: 20px;
color: #555;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #555;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #bbbbbb;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
