  body {
	background-color: #0a0a0a;
    padding-bottom: 40px;
	font-family:calibri;
	padding-top:100px;
}

.row-fluid div[class*="span"] {
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px !important;
}

div [class*="span"] {
  float: left;
  margin-left: 10px;
}


.center{
    text-align:center;
	font-size:16px;
}
.inside{
	margin:0px;
}

.lightblue{
    color:#5b7dc1;
}

/*login page*/

.logincontainer{
	padding:15px;
/*	margin-top:120px;*/
}
.between{
	margin-left : 30px;
}

.loginbox{
	height : 350px;
}
.middlemsg{
	 padding-top:80px;
}
.bigfont{
	font-size: 60px;
	font-weight: bold;
}
.width50{
	width:50%;
}


/* timeline page */
.container .brand{
	color : white;	
	font-size : 22px;
}

.leftalign {
	text-align:left;
}
.bold {
	font-weight:bold;
}
.content {
	font-weight : bold;
	padding-left : 10px;
	margin-top : 3px;
}
.date {
	color : gray;
	font-size: 12px;
	margin-right:15px;
}
.roundinside{	
	padding : 10px;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 3px;
}
.bottom15{
	margin-bottom: 15px;
}

.submenu{
	color:#5b7dc1;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
.submenu ul{
	margin-top:-7px;
}
.submenu li a{
	font-size:13px;
}
.submenu li a strong{
	display:block;
	line-height:0px;
	margin-top:15px;
}


/* profile */

.editbtn{
	float:right;
	margin:20px;
}
.heromargin{
	margin:15px;
}

.hero-unit h1{
	color:#5b7dc1;
	font-size: 80px;
}
.hero-unit h3{
	color:#5b7dc1;
	margin-left:200px;
}
.hero-unit h2{
	color:#5b7dc1;
	font-style:italic;
	margin-top :20px;
	margin-left:20px;
	margin-bottom:-20px;
}
.nav-list h4{
	font-style:italic;
	font-weight:normal;
	font-size:28px;
}
 
/* account */
.accountbox {
	height : 350px;
}
.right10 {
	margin-right : 10px;
}

.paddingtop-10 {
	padding-top: 10px;

}

.orderTemplate {
	background-color: #444444;
	margin-top: 5px;
	padding-top:  1px;
	padding-left:   5px;
	padding-right:   5px;
	padding-bottom:  10px;

}

.orderTemplate  > h2{
	margin-top: 2px;
	padding: 2px;
	position: relative;
	
}

.staffTemplate {
	background-color: #e6e6e6;
	margin-top: 5px;
	padding-top:  1px;
	padding-left:   5px;
	padding-right:   5px;
	padding-bottom:  10px;

}

.staffTemplate  > h2{
	margin-top: 2px;
	padding: 2px;
	position: relative;
	
}


.staffTemplate .table_info  {
padding-left: 2px;
padding-right: 2px;
background-color: #7b7b7b;
color: #2c2c2c;

}

.staffTemplate .menu_info {
	padding: 2px;
	color:#2c2c2c;
	/*background-color: #7b7b7b;*/
	
}


.table_info  {
padding-left: 2px;
padding-right: 2px;
background-color: #7b7b7b;
color: #ffffff;

}
.button_area{
	padding: 2px;
	position: relative;
	
}


.menu_info {
	padding: 2px;
	color:#fcfcfc;
	/*background-color: #7b7b7b;*/
	
}

.opt_info {
	color:#818181;

	/*background-color: #7b7b7b;*/
padding: 2px;	
}

#RightBtn {
margin-right: 15px;
}
#LeftBtn {
margin-right: 15px;
}


