{% extends "base.html" %}

{%block extends_css %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXGrid.css">
 <link href="{{ STATIC_URL }}css/orderhistory.css" rel="stylesheet">
 {%endblock extends_css %} 

{% block content%}
			
			<div class="row-fluid "><!--Start of Row-->
				
	<span>
	<input type="text" name="" id="AXInputDateST" class="AXInput W100" /> ~
	<input type="text" name="" id="AXInputDateED" class="AXInput W100" />
	</span>

			</div>
			
			<div class = "span12 pull-right" id = "history_grid">
			<!-- Gird 영역 -->
			</div>



	{%endblock content%}


		{% block extend_js%}
		<script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXGrid.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/history.js"></script>
		{%endblock extend_js%}
		 {%block extend_bind%}
		
			$("#AXInputDateED").bindTwinDate({align:"right", valign:"bottom", separator:"/", startTargetID:"AXInputDateST", onChange:function(){doSearchOrder(Object.toJSON(this));}});
		
			doSearchOrder(Object.toJSON({'ST_objID': 'AXInputDateST','ED_value':'','ST_value':'','ED_objID':'AXInputDateED'}));
			setOrderConfig();
			
			

			$("#adminBtn").click(goAdmin);

	{%endblock extend_bind%}





		</script>
	</body>
</html>
