{% extends "base.html" %}

{%block extends_css %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXGrid.css">
 <link href="{{ STATIC_URL }}css/orderhistory.css" rel="stylesheet">
 {%endblock extends_css %} 

{% block content%}
			
			<div class="row-fluid"><!--Start of Row-->				
				<span>
				<input type="text" name="" id="AXInputDateST" class="AXInput W100" />
				</span>
				<span>
				<input type="text" name="" id="AXInputDateED" class="AXInput W100" />
				</span>

				<span>
					<select class="seldate" id="seldate">
						<option value="sel">선택</option> 
						<option value="1">오늘</option>
						<option value="7">1주일</option>
						<option value="30">1개월</option>
						<option value="90">3개월</option>
						<option value="180">6개월</option>						
					</select>
				</span>
				<span><a class="btn btn_search" href="javascript:;" id="btn_srchistory">검색</a></span>
			</div>
			
			<div class = "span12 pull-right" id = "history_grid">
			<!-- Gird 영역 -->
			</div>

	{%endblock content%}


		{% block extend_js%}
		<script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXGrid.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/history.js"></script>
		{%endblock extend_js%}
		 {%block extend_bind%}
			
			$("#AXInputDateED").bindTwinDate({align:"right", valign:"bottom", separator:"/", startTargetID:"AXInputDateST",
				onChange:function(){
					$('#seldate').val('sel');
				}
			});
			$('#seldate').on('change',doChSeldate);
			$('#btn_srchistory').click(doSearchHistory);
			doSearchOrder(Object.toJSON({'ST_objID': 'AXInputDateST','ED_value':'','ST_value':'','ED_objID':'AXInputDateED'}));
			setOrderConfig();
			$("#adminBtn").click(goAdmin);

	{%endblock extend_bind%}





		</script>
	</body>
</html>
