<!DOCTYPE html>
<!-- LOGIN -->
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>주문처리 내</title>
		<link href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXJ.css">	
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXGrid.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}_AXJ/ui/default/AXInput.css">

		<link href="{{ STATIC_URL }}css/orderhistory.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> </a>
					<a class="brand" href="#">주문 대쉬 보드</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li ><a href="dashboard.html">대쉬보드</a></li>
							<li class="active"><a href="orderhistory.html">처리내역</a></li>
							<li><a href="preferences.html">환경설정</a></li>
						</ul>
						<div class="btn-group pull-right">

							<a class="btn" id="adminBtn"> 
								<i class="icon-pencil"></i>Admin 
								<span class="caret"></span> 
							</a>
							<a class="btn" id="logoutBtn"> 
								<i class="icon-user"></i>Logout 
								<span class="caret"></span> 
							</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->

		<div class="container bg"><!-- Start of Container-->
			<div class="row-fluid"><!--Start of Row-->
		
			<div style="position: relative;">
	

	
	<input type="text" name="" id="AXInputDateST" class="AXInput W100" /> ~
	<input type="text" name="" id="AXInputDateED" class="AXInput W100" />
</div>
	
			<div class = "span12 pull-right" id = "orderhistory_grid">
			<!-- Gird 영역 -->
			</div>
		</div><!-- End of Container-->


		<div class="roundinside" id='orderhistoryTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo">
							
						<span class = 'order_id' style="display:none;"></span>
						<div class='content'>
						<span class = 'order_date'></span>
						<span class = 'process_date'></span>
						<span class = 'table_code'></span>
						<span class = 'menu_name'></span>
						<span class = 'menu_price'></span>
						<span class = 'order_count'></span>
						<span class = 'order_price'></span>
						<span class = 'order_status'></span>
						
						</div>
						</a>

					</div>



		<script type="text/javascript" 
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
		</script>
		<script type="text/javascript" 
			src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXJ.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXInput.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}_AXJ/lib/AXGrid.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/base64.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/orderhistory.js"></script>

		<script>
			$(document).ready(function() {
		
			$("#AXInputDateED").bindTwinDate({align:"right", valign:"bottom", separator:"/", startTargetID:"AXInputDateST", onChange:function(){doSearchOrder(Object.toJSON(this));}});
			getLoginString();
			doSearchOrder(Object.toJSON({'ST_objID': 'AXInputDateST','ED_value':'','ST_value':'','ED_objID':'AXInputDateED'}));
			setOrderConfig();
			
			

			$("#adminBtn").click(goAdmin);

	});






		</script>
	</body>
</html>
